.btn {
    border: 2px solid violet;
    border-radius: 20px;
    display: inline-block;
    margin-top: 1px;
    margin-right: 5px;

    width: auto;
}
.btnInfo {
    padding: 10px;
    font-size: 100%;
}
.btndel {
    float: right;
    color: blue;
    font-weight: bold;
}
hr {
    display: block;
    height: 1px;
    border-top: 1px solid blue;
}
input {
    border: 1px solid white;
}
